body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body overflow */
}

#graph {
    width: 100%;
    height: 100vh; /* Use viewport height to fill the screen */
    border: 1px solid #ccc;
    /*background-color: #2C2C2C; /* Pastel black background */
    position: relative; /* Ensure position is relative for absolute positioning of SVG */
    overflow: hidden; /* Hide overflow content */
}
.top-right-entity {
    position: absolute;
    top: 10px;
    right: 520px;
    background-color: #ffffff; /* Changed to white for a cleaner look */
    padding: 15px; /* Increased padding for better spacing */
    border: 1px solid #ddd; /* Lighter border color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Smoother and lighter shadow */
    display: none;
    z-index: 100000;
}


.left-panel {
    position: absolute;
    top: 10px;
    right: 500px;
    background-color: #ffffff; /* Changed to white for a cleaner look */
    padding: 15px; /* Increased padding for better spacing */
    border: 1px solid #ddd; /* Lighter border color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Smoother and lighter shadow */
    display: block;
    z-index: 100000;
}

#image-container {
    position: absolute;
    top: 10px;
    left: 50px;
    
}

#textForData{
    position: absolute;
    top:160px;
    Left:83px;
    color: white;
   

}
.sidebar {
    width: 500px; /* Adjust width as needed */
    background-color: #ffffff; /* Example background color */
    padding: 10px;
    
    position: absolute;
    top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    right: 10px;
    overflow-y: auto; /* Enable vertical scroll */
    position: fixed;
    display: none; /* Hide sidebar initially */
    max-height: calc(100vh - 40px); /* Set max-height to fit viewport minus search bar height */
    padding-right: 20px; /* Add padding to make space for a larger scrollbar */
    z-index: 999;
    border-radius: 8px;
}

.sidebar-header {
    background-color: #00A36C;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
}

.sidebar-header .column {
    flex: 1; /* Allocate space proportional to the parent */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent content overflow */
    text-overflow: ellipsis; /* Show "..." if content is too long */
    margin-left: 50px;
}

.sidebar-header .type {
    flex: 0 0 100px; /* Fixed width for "Type" */
    text-align: left; /* Align text to the left */
    margin-right: 50px; /* Add a gap between "Column" and "Type" */
}

#sidebarImageContainer {
    position: absolute;
    top: 30px;  /* Adjust the distance from the top */
    right : 315px;  /* Adjust the distance from the left */
    z-index: 10000000;  /* Ensure it sits above other elements */
}

#sidebarImageContainer img {
    width: 30px;
    height: auto;
   
}

#SidebarImagePG{

    position: absolute;
    top: 30px;  /* Adjust the distance from the top */
    right : 360px;  /* Adjust the distance from the left */
    z-index: 10000001;  /* Ensure it sits above other elements */
}
#SidebarImagePG img {
    width: 30px;
    height: auto;
   
}


#sidebar .list-item {
    display: flex; /* Ensure alignment in a row */
    align-items: center; /* Center items vertically */
    gap: 5px; /* Add uniform spacing between items */
    padding: 5px 0; /* Minimal vertical padding */
}


#sidebar .type {
    flex-shrink: 0; /* Prevent shrinking */
    text-align: right; /* Align text to the right */
    padding-left: 10px; /* Add spacing from the column */
}



.sidebar-header span {
    flex: 1; /* Match the column flex settings */
    text-align: center;
    padding: 0;
    margin-right: 5px;
}


.list-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 1; /* Allow the column to take up remaining space */
    max-width: 70%; /* Constrain the width to 70% of the parent */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add "..." for overflowing text */
    white-space: nowrap; /* Prevent wrapping */
}

.type {
    flex-shrink: 0; /* Prevent the type from shrinking */
    max-width: 30%; /* Constrain the width to 30% of the parent */
    text-align: left;
    margin-right: 50px
}


/* Firefox scrollbar customization */
.sidebar {
    scrollbar-width: auto; /* "auto" or "thin" */
    scrollbar-color: #888 #f0f0f0; /* Handle and track color */
}

/* Adjust the font for better readability */
.sidebar div {
    font-size: 16px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif; /* Adjust the font family as needed */
    margin-bottom: 5px;
}



.sidebar.open {
    display: block; /* Display sidebar when open */
}


.node-label {
    font-size: 10px; /* Increase font size */
    fill: rgb(252, 252, 252); /* Set label color to red */
}

line {
    stroke: #e9e0ea;
    stroke-opacity: 0.6;
}

circle {
    cursor: pointer;
    /*fill: #fff; /* White nodes */
    stroke: #000;
    stroke-width: 1.5px;
}

#additional-info {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    position: absolute; /* Ensure it uses absolute positioning */
    left: 20px; /* Adjust this to control the distance from the left edge */
    top: 50px; /* Optional: Adjust its vertical position */
}

#additional-info h2 {
    margin: 0;
    font-size: 1.2em;
}

#additional-info p {
    margin: 5px 0;
}
/* CSS styles for the search bar */

#redirect-button {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #20548F; /* Green background */
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    z-index: 999;
}

#redirect-button:hover {
    background-color: #1c4b82; /* Darker green on hover */
}

#OpenTimeTable {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #20548F; /* Green background */
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    z-index: 999;
}

#OpenTimeTable {
    background-color: #1c4b82; /* Darker green on hover */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -190px;
    top: 0;
    width: 160%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Courier New', Courier, monospace;
}

.modal-content {
    background-color: black;
    color: #BE4917;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid  #BE4917;;
    width: 100%;
    min-width: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow:  #BE4917;
    max-height:550px;
    overflow-y: auto;
}

/* Yellow Background for the Headline */
.schedule-title {
    background-color:  #BE4917;
    color: black; /* Ensures good contrast */
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    padding: 10px;
    border-radius: 6px; /* Adds rounded edges */
    margin-bottom: 10px; /* Adds spacing below the title */
}

.close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right:10px;
    color: black;
}

.departure-title {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color:  #BE4917;
    margin-bottom: 30px;
}

/* Schedule Table Styling */
.schedule-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 17px;
}
/* 


Text for User Column */
.username-highlight {
    color: yellow !important;
    
}


.schedule-table th, .schedule-table td {
    border-bottom: 2px solid  #BE4917;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

.schedule-table th {
    background-color: black;
    color: #BE4917;
    font-weight: bold;
}

.schedule-table td {
    color: white;
}

/* Blinking Effect for "Next Date" */
.blinking {
    animation: blink-animation 1s steps(2, start) infinite;
}
/* Red Color for Due Dates */
/* Red Background for Due Dates */
/* Red Background for Due Dates */
/* Softer Red Background for Due Dates */
.due-date {
    background-color: rgb(252, 56, 56) !important; /* Softer red with transparency */
    color: white !important;
    font-weight: bold;
    border-radius: 2px; /* Optional: adds slight rounding for a softer feel */
    padding: 5px; /* Adds spacing for better readability */
}
/* Style for Selected Row */
.selected-row {
    background-color: rgba(248, 110, 110, 0.2) !important; /* Soft yellow */
    font-weight: bold;
}





@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}







#search-bar {
    text-align: center;
    position: fixed;
    top: 20px;
    left: 44%;
    transform: translateX(-50%);
    z-index: 999;
}


#search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
#legend-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white; /* Set text color */
}

#legend-container h4 {
    margin: 0;
    font-size: 16px;
    color: wheat; /* Header text color */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: white; /* Set text color */
}
#legend-container.hidden {
    transform: translateY(100%); /* Hide legend off screen */
    visibility: hidden; /* Hide the container completely */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: white; /* Set background color of color box */
}
/* Button Modal - Positioned to the Right Side */
.button-modal {
    position: fixed;
    top: 50%;
    right: -470px; /* Adjust this value if needed */
    transform: translateY(120%); /* Center it vertically */
    background-color: black;
    color: #BE4917;
    border: 2px solid #BE4917;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Button Panel - Keeps Buttons Aligned Vertically */
.button-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display:'none';
}

/* Button Styling to Match Table */
.function-button {
    background-color: black;
    color: #BE4917;
    border: 2px solid #BE4917;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 180px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
}

/* Hover Effect */
.function-button:hover {
    background-color: #BE4917;
    color: black;
}

/* Exit Button (Soft Red) */
.exit-button {
    background-color: #ffcccc;
    border: 2px solid #ff6666;
    color: black;
}

.exit-button:hover {
    background-color: #ff9999;
}



#search-button {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #BE4917;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    z-index: 999;
}
#search-button:hover{
    background-color: #973a12;

}

svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; /* Ensure it sits above other elements */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
}
.bg {
    background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}
.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.7; 
}
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}

.filter-white{
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(267deg) brightness(98%) contrast(98%);

}
.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}



#table-info-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: none;
    min-width: 400px; /* Ensures it does not shrink */
    max-width: 600px; /* Prevents it from being too large */
}


.table-wrapper {
    max-height: 600px; /* Limits height */
    overflow-y: auto; /* Enables scrolling */
    overflow-x: hidden;
    border: 1px solid #ddd;
}

.table-info-content {
    width: 100%;
    border-collapse: collapse;
}

.table-info-content th, .table-info-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-info-content th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.editable-field {
    width: 90%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.editable-link-container {
    display: flex;
    align-items: center;
}

.link-button {
    margin-left: 5px;
    text-decoration: none;
    font-size: 16px;
    color: blue;
}
